Repository Netexus/TechHelpDesk: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    
    patch:
      default:
        target: auto
        threshold: 1%

flags:
  backend:
    paths:
      - Backend/
    carryforward: true
  
  frontend:
    paths:
      - Frontend/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

ignore:
  - "**/*.spec.ts"
  - "**/*.spec.js"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.config.js"
  - "**/*.config.ts"

feat: add Codecov and GitHub Actions links to login Development Tools
  Frontend/src/app/pages/login/login.html
  Frontend/src/app/pages/login/login.ts
Due: frontend

ci: add GitHub Actions workflow for backend test coverage
  .github/workflows/test-coverage.yml
Due: none

Delete: "Test results" button from login.
  Frontend/src/app/pages/login/login.html
Due: frontend

chore: Disable custom CORS configuration in main.ts
  Backend/src/main.ts
Due: backend

chore: remove commented-out backend CORS configuration and disable frontend Angular CLI analytics
  Backend/src/main.ts
  Frontend/angular.json
Due: backend, frontend

feat: Enable CORS for all origins in the application.
  Backend/src/main.ts
Due: backend

Switch database type to MSSQL and update SSL settings
  Backend/src/app.module.ts
Due: backend

Add Application Insights setup to main.ts
  Backend/src/main.ts
Due: backend

Update dependencies in package.json
  Backend/package.json
Due: backend

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-blue-cliff-04f4db01e.yml
Due: none

Update API URL for production environment
  Frontend/src/enviroments/environment.prod.ts
Due: frontend

Update API URL in production environment
  Frontend/src/enviroments/environment.prod.ts
Due: frontend

Modify output location in Azure Static Web Apps workflow
  .github/workflows/azure-static-web-apps-blue-cliff-04f4db01e.yml
Due: none

Fix app_location path in Azure workflow
  .github/workflows/azure-static-web-apps-blue-cliff-04f4db01e.yml
Due: none

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-white-mud-0930c591e.yml
Due: none

Modify output location in Azure Static Web Apps workflow
  .github/workflows/azure-static-web-apps-white-mud-0930c591e.yml
Due: none

Delete .github/workflows/azure-static-web-apps-blue-cliff-04f4db01e.yml
  .github/workflows/azure-static-web-apps-blue-cliff-04f4db01e.yml
Due: none
